@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --background: 240, 12%, 12%;
    --foreground: 0 1% 18%;
    --primary: 0 1% 18%;
    --primary-foreground: 40 100% 50%;
  }
}
